# Working with HTML Files in Pandas
In this notebook, you'll learn how to:
1. Read HTML tables using `pd.read_html()`
2. Convert DataFrame to HTML using `to_html()`

## Reading Tables from a Web Page

In [2]:
import pandas as pd

url = "https://en.wikipedia.org/wiki/Mobile_country_code"
html_tables = pd.read_html(url)
type(html_tables)

list

In [3]:
# View number of tables
len(html_tables)

5

In [4]:
# Show first table
html_tables[0]

,MCC,MNC,Brand,Operator,Status,Bands (MHz),References and notes
0,1,1,TEST,Test network,Operational,any,NaN
1,1,1,TEST,Test network,Operational,any,NaN
2,999,99,NaN,Internal use,Operational,any,"Internal use in private networks, no roaming[6]"
3,999,999,NaN,Internal use,Operational,any,"Internal use in private networks, no roaming[6]"

In [5]:
# Check type of second table
type(html_tables[1])

pandas.core.frame.DataFrame

## Note:
`pd.read_html()` returns a **list of DataFrames**, one for each `<table>` tag found on the page.

## Read a Specific Table using `match` Parameter

In [6]:
url = "https://en.wikipedia.org/wiki/Economy_of_the_United_States"
html = pd.read_html(url, match="Government debt")
html[0]  # This will return only the matched table

,0,1
0,"New York City, the world's principal fintech a...","New York City, the world's principal fintech a..."
1,Currency,United States dollar (Sign: $; Code: USD) US D...
2,Fiscal year,October 1 – September 30
3,Trade organizations,"WTO, G-20, G7, OECD, USMCA, APEC and others"
4,Country group,Advanced economy[5] High-income economy[6]
5,Statistics,Statistics
6,Population,"341,869,297 (June 1, 2025)[7]"
7,GDP,$30.507 trillion (nominal; 2025)[8] $30.507 t...
8,GDP rank,1st (nominal; 2025) 2nd (PPP; 2025)
9,GDP growth,2.8% (2024)[8] 1.8% (2025)[8] 1.7% (2026f)[8]
10,GDP per capita,"$89,105 (nominal; 2025)[8] $89,105 (PPP; 2025..."
11,GDP per capita rank,7th (nominal; 2025) 9th (PPP; 2025)
12,GDP by sector,Agriculture: 0.9% Industry: 18.9% Services: 80...
13,GDP by component,Household consumption: 67.9% Government consum...
14,Inflation (CPI),2.3% (April 2025)[11]
15,Population below poverty line,11.1% (2023)[12] 36.8 million (2023)[12]
16,Gini coefficient,"46.5 high (2023, USCB)[13] 41.8 high (2023, W..."
17,Human Development Index,0.927 very high (2022)[16] (20th) 0.823 very ...
18,Corruption Perceptions Index,69 out of 100 points (2023)[17] (rank 24th)
19,Labor force,"168,110,083 (2024)[18] 62.6% employment rate (..."
20,Labor force by occupation,Agriculture: 1.0% Industry: 19% Services: 80% ...
21,Unemployment,4.2% (May 2025)[18] 13.4% youth unemployment ...
22,Average gross salary,"$5,886, monthly[20] (2024)"
23,Average net salary,"$4,450, monthly[20] (2024)"
24,Final consumption expenditure,85.2% of GDP (2023)[10]
25,Gross capital formation,17.7% of GDP (2023)[10]
26,Yield curve,10-year bond 4.28% (April 2025)[21]
27,Purchasing Managers' Index,52.0 Manufacturing (May 2025)[22] 53.7 Servic...
28,Main industries,High-technologypetroleumsteelmotor vehiclesaer...
29,External,External
30,Exports,$3.191 trillion (2024)[23][24]
31,Export goods,Agricultural products 10.7%Fuels and mining pr...
32,Main export partners,European Union 17.9% Canada 16.9% Mexico 16.2%...
33,Imports,$4.110 trillion (2024)[23][24]
34,Import goods,Agricultural products 10.5%Fuels and mining pr...
35,Main import partners,European Union 18.5% Mexico 15.5% China 13.4% ...
36,FDI stock,Inward: $367 billion (2021)[28] Outward: $403...
37,Current account,−$948.64 billion (2024)[29] −3.25% of GDP (20...
38,Gross external debt,$27 trillion (2023)[30]
39,Public finances,Public finances
40,Government debt,$35.294 trillion 121% of GDP (2024)[29]
41,Foreign reserves,$250 billion (2024)[31]
42,Budget balance,−6.3% of GDP (2023)[32]
43,Revenues,$8.720 trillion[29] 29.9% of GDP (2024)
44,Expenses,$10.945 trillion[29] 37.5% of GDP (2024) Gover...
45,Economic aid,"donor: ODA, $35.26 billion (2017)[33]"
46,Credit rating,Standard & Poor's:[34] AA+ (Domestic) AA+ (For...
47,"All values, unless otherwise stated, are in US...","All values, unless otherwise stated, are in US..."

## 🌡 Read Temperature Table from Minnesota Page

In [7]:
url = "https://en.wikipedia.org/wiki/Minnesota"
html = pd.read_html(url, match="Average daily maximum and minimum temperatures")
df = html[0]
df.head()

      Location July (°F) July (°C) January (°F) January (°C)
0  Minneapolis     83/64     28/18         23/7       −4/−13
1   Saint Paul     83/63     28/17         23/6       −5/−14
2    Rochester     82/63     28/17         23/3       −5/−16
3       Duluth     76/55     24/13         19/1       −7/−17
4    St. Cloud     81/58     27/14        18/−1       −7/−18

## 💾 Convert DataFrame to HTML File

In [8]:
# Save to local HTML file
df.to_html("demo.html")